.formControl {

}
.formControl.error input,
.formControl.error textarea
{
    border: 1px solid red;
}

.formControl.error span
{
    color: red;
    font-size: 1.3rem;
    text-shadow: 0 0 10px white;
}