.item {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 1.5rem;  
  border: 1px dotted black;
  margin: 20px 0 20px 0;
  padding: 5px;
}

.like {
  align-self: center;
  color: red;
}

.like i {
  margin-left: 5px;
}